#### *Lists and tuples*
### List
- similer to arrays in c.
- separated by comma','.
- enclosed within square brackets [].
- mutable ordered sequence of elements.
- can be modified after creation.
- built in data type that stores set of values.

- - Syntax: []
- - Ordered: Yes (Maintains the insertion order)
- - Mutable: Yes (Elements can be changed)
- - Duplicates: Yes (Allows duplicate elements)
- - Example: [1, 2, 3, 4]

In [1]:
# blank list
L1 = []

# list of integers
L2 = [10, 20, 30]

# List of heterogenous data types
L3 = [1, "Hello", 3.4]

print(type(L1)) # <class 'list'>

<class 'list'>

In [7]:
list = [ 1, 'hi', 'list', 2,'Ram' , 3, 'piyush']
print(list)
print(type(list))

[1, 'hi', 'list', 2, 'Ram', 3, 'piyush']
<class 'list'>

In [19]:
print(list[3:])
print(list[2:6])
print(list[0:5])
print(list*3)

[2, 'Ram', 3, 'piyush']
['list', 2, 'Ram', 3]
[1, 'hi', 'list', 2, 'Ram']
[1, 'hi', 'list', 2, 'Ram', 3, 'piyush', 1, 'hi', 'list', 2, 'Ram', 3, 'piyush', 1, 'hi', 'list', 2, 'Ram', 3, 'piyush']
[1, 'hi', 'list', 2, 'Ram', 3, 'piyush']

In [2]:
init_list = [0]*4 # multidimension list
print(init_list) # [0, 0, 0]

[0, 0, 0, 0]

In [7]:
two_dim_list = [ [0]*3 ] *3
print(two_dim_list)

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [8]:
two_dim_list = [ [0]*3 ] *3
print(two_dim_list) # [[0, 0, 0], [0, 0, 0], [0, 0, 0]]

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]
[[0, 0, 1], [0, 0, 1], [0, 0, 1]]

In [9]:
two_dim_list[0][2] = 1
print(two_dim_list) # [[0, 0, 1], [0, 0, 1], [0, 0, 1]]

[[0, 0, 1], [0, 0, 1], [0, 0, 1]]

In [26]:
# Access list items by index

planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]
print("The 1st planet is", planets[0])
print("The 2nd planet is", planets[1])
print("The 3rd planet is", planets[2])
print("The 4th planet is", planets[3])
print("The 5th planet is", planets[4])
print("The 6th planet is", planets[5])
print("The 7th planet is", planets[6])
print("The 8th planet is", planets[7])

The 1st planet is Mercury
The 2nd planet is Venus
The 3rd planet is Earth
The 4th planet is Mars
The 5th planet is Jupiter
The 6th planet is Saturn
The 7th planet is Uranus
The 8th planet is Neptune

In [27]:
# We can also modify values in a list by using an index

planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]
planets[3] = "Red Planet"
print("Mars is also known as", planets[3])

Mars is also known as Red Planet

In [28]:
# To get the length of a list, use the built-in function len().

planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]
total = len(planets)
print("There are", total, "planets in the solar system.")

There are 8 planets in the solar system.

In [37]:
# To add an item to a list, use the method .append(value).

planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]
planets.append('pluto')
total = len(planets)
print("There are actually", total, "planets in the solar system.")

There are actually 9 planets in the solar system.

In [39]:
# we can remove the last item in a list by calling the .pop() method on the list variable.
planets.pop()   # Goodbye, Pluto
total = len(planets)
print("There are actually", total, "planets in the solar system.")

There are actually 8 planets in the solar system.

In [45]:
print("The last planet is", planets[-1])
print("The seventh planet is", planets[-2])
print("The eighth planet is", planets[-3])
print("The sixth planet is", planets[-4])
print("The first planet is", planets[0])

The last planet is Neptune
The seventh planet is Uranus
The eighth planet is Saturn
The sixth planet is Jupiter
The first planet is Mercury

In [47]:
 # index method in list searches the value and returns the index of that item in the list.If it doesn't find a match it returns -1.
index = planets.index("Jupiter")
print("Jupiter is the", index + 1, "planet from the sun")


index = planets.index("Saturn")
print("Saturn is the", index + 1, "planet from the sun")

Jupiter is the 5 planet from the sun
Saturn is the 6 planet from the sun

In [49]:
index = planets.index("Mars")
print("Mars is the", index + 1, "planet from the sun")

Mars is the 4 planet from the sun

In [60]:
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]
before_earth = planets[0:2]
print(before_earth)
planet = planets[1:5]
print(planet)

['Mercury', 'Venus']
['Venus', 'Earth', 'Mars', 'Jupiter']

In [54]:
# sort() and sort(reverse = true) method is use for formating in accending and decending oder

planets.sort()
print(planets)

['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']

In [56]:
planets.sort(reverse = True)
print(planets)
planets.reverse()
print(planets)

['Venus', 'Uranus', 'Saturn', 'Neptune', 'Mercury', 'Mars', 'Jupiter', 'Earth']
['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']

#### Membership operators:

* **in:** evaluates if an object on the left side is included in the object on the right side.
* **not in:** evaluates if object on left side is not included in object on right side.

In [63]:
greeting = "Hello there"
print('her' in greeting, 'her' not in greeting)

True False

In [67]:
print('Mars' in planets , 'Mars' not in planets)

True False

#### Tuples

- A tuple is another useful container.
- separated by comma','.
- enclosed within paranthesis().
- immutable ordered sequence of elements.
- can't be modified after creation.
- - Syntax: ()
- - Ordered: Yes (Maintains the insertion order)
- - Mutable: No (Elements cannot be changed once assigned)
- - Duplicates: Yes (Allows duplicate elements)
- - Example: (1, 2, 3, 4)

In [75]:
tup = (1 , ' Ram',3, 'Syam' , 2 ,2 ,'Swati' , 3)
print(tup)

(1, ' Ram', 3, 'Syam', 2, 2, 'Swati', 3)

In [1]:
tup1=()# Empty tuple
tup2=(10,30,60)# tuple of integers numberstup3=(10.77,30.66,60.89)
# tuple of float numbers
tup4=('one','two',"three")
# tuple of strings
tup5=('Asif',25,(50,100),(150,90))
# Nested tuples
tup6=(100,'Asif',17.765)
# Tuple of mixed data types

In [79]:
print(tup.count(2)) 
print(tup.count(3))

2
2

In [85]:
num = (5 , 6, 8)
print("x-coordinate:", num[0])
print("y-coordinate:", num[1])
print("z-coordinate:", num[2])

x-coordinate: 5
y-coordinate: 6
z-coordinate: 8

In [2]:
location = 108.7774, 92.5556
latitude, longtitude = location
print("The coordinates are {} x {}".format(latitude, longtitude))

The coordinates are 108.7774 x 92.5556

In [9]:
list = []
m1 = input("1st : ")
m2 = input("2nd : ")
m3 = input("3rd : ")

list.append(m1)
list.append(m2)
list.append(m3)

print(list)

['spider', 'man', 'doho']

In [10]:
list = []
m = input("1st : ")
list.append(m)
m = input("2nd : ")
list.append(m)
m = input("3rd : ")
list.append(m)

print(list)

['raam', 'syam', 'bhagawan']

In [11]:
list = []
list.append(input("1st : "))
list.append(input("2nd : "))
list.append(input("3rd : "))
print(list)

['maiya ', 'anusuiya', 'ji']

In [16]:
# Check Pallindrom

a = [1,2,3,4,5,4,3,2,1]
copy_a = a.copy()
copy_a.reverse()

if(copy_a==a):
    print("Pallindrom")
else:
    print("Not Pallindrom")

Pallindrom

In [17]:
a = [1,2,3,4,5,1]
copy_a = a.copy()
copy_a.reverse()

if(copy_a==a):
    print("Pallindrom")
else:
    print("Not Pallindrom")

Not Pallindrom