## **Loop** 
### for loops
- Python has two kinds of loops - for loops and while loops.
- A for loop is used to "iterate", or do something repeatedly, over an iterable.
- it is used to iterate over a sequence.
- certain statement will br excuted repeatedly
- An iterable is an object that can return one of its elements at a time.
- This can include sequence types, such as strings, lists, and tuples, as well as non-sequence types, such as dictionaries and files.
- iterate, which means when we know how many times a statement has to be excuted.

In [1]:
classes = ['RAMMANI','SYAM','SWATI','PIYUSH','MOHAN','KAJAL']
for name in classes:
    print(name)

RAMMANI
SYAM
SWATI
PIYUSH
MOHAN
KAJAL

In [91]:
classes = ['RAMMANI','SYAM','SWATI','PIYUSH','MOHAN','KAJAL']
for name in classes:
 print(name)
 for a in name:
  print(a)

RAMMANI
R
A
M
M
A
N
I
SYAM
S
Y
A
M
SWATI
S
W
A
T
I
PIYUSH
P
I
Y
U
S
H
MOHAN
M
O
H
A
N
KAJAL
K
A
J
A
L

In [45]:
classes = ['RAMMANI','SYAM','SWATI','PIYUSH','MOHAN','KAJAL']
for name in classes:
    print(name*5)

RAMMANIRAMMANIRAMMANIRAMMANIRAMMANI
SYAMSYAMSYAMSYAMSYAM
SWATISWATISWATISWATISWATI
PIYUSHPIYUSHPIYUSHPIYUSHPIYUSH
MOHANMOHANMOHANMOHANMOHAN
KAJALKAJALKAJALKAJALKAJAL

In [1]:
classes = 'RAMMANI','SYAM','SWATI','PIYUSH','MOHAN','KAJAL'
for name in classes:
    print(name+' '+name+' '+name+' '+name)
    print

RAMMANI RAMMANI RAMMANI RAMMANI
SYAM SYAM SYAM SYAM
SWATI SWATI SWATI SWATI
PIYUSH PIYUSH PIYUSH PIYUSH
MOHAN MOHAN MOHAN MOHAN
KAJAL KAJAL KAJAL KAJAL

In [107]:
classes = ['SWATI Dwivedi','PIYUSH Pandey','MOHAN Pandey','KAJAL Pandey']
users = []

for name in classes:
    user = name.lower().replace(" ", "_")
    users.append(user)
    print(user)

swati_dwivedi
piyush_pandey
mohan_pandey
kajal_pandey

In [54]:
lst = [1,2,3,4,5,6]
for i in lst:
    print(i)

1
2
3
4
5
6

In [85]:
a = "Rammani"
for i in a:
    print(i)
    if i=="m":
        print('this is special!')

R
a
m
this is special!
m
this is special!
a
n
i

In [48]:
for n in 1,2,3,4,5:
    print(n)

1
2
3
4
5

In [63]:
lst = [1,2,3,4,5,6] # sum of all integer
s = 0
for i in lst:
     s=s+i
print(s)

21

In [71]:
lst = [1,2,3,4,5,6] # sum of Even and Odd integer
e = 0
o = 0
for i in lst:

 if i%2==0:
   e=e+i
 else:
  o=o+i

print("Even Sum is {}".format(e))
print("Odd Sum is {}".format(o))

Even Sum is 12
Odd Sum is 9

### **Using the *range()* Function with for Loops:**
 - *range()* is a built-in function used to create an iterable sequence of numbers.
 - You will frequently use *range()* with a for loop to repeat an action a certain number of times, as in this example:

In [94]:
for i in range(5):
 print(i)

0
1
2
3
4

In [95]:
for i in range(5):
 print(i+1)

1
2
3
4
5

In [52]:
for i in range(4):
    print('I Miss you !')

I Miss you !
I Miss you !
I Miss you !
I Miss you !

In [72]:
for i in range(2, 6):
  print(i)

2
3
4
5

### **range(start=0, stop, step=1)**
The range() function takes three integer arguments, the first and third of which are optional:

- The 'start' argument is the first number of the sequence. If unspecified, 'start' defaults to 0.
- The 'stop' argument is 1 more than the last number of the sequence. This argument must be specified.
- The 'step' argument is the difference between each number in the sequence. If unspecified, 'step' defaults to 1.

In [79]:
for i in range(5):
  print('I Miss You!')

I Miss You!
I Miss You!
I Miss You!
I Miss You!
I Miss You!

In [76]:
for i in range (1,11):
   print(i)

1
2
3
4
5
6
7
8
9
10

In [74]:
for i in range(1, 10, 2):
  print(i)

1
3
5
7
9

In [67]:
# 10 even number
for i in range(2,22,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [72]:
# 10 Odd number
for i in range(1,21,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [65]:
for i in range(5, 55, 5):
    print(i)

5
10
15
20
25
30
35
40
45
50

In [50]:
num = int(input('Enter Number: '))
print('The Multiplication table of:',num)
for i in range(1,11):
    print(num,'x',i,'=',num*i)

The Multiplication table of: 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [5]:
n = 10
for i in range(1,11):
    print(n,'x',i,'=',n*i)

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [9]:
n = int(input("Enter Number: "))
for i in range(1,11):
    print(n,'x',i,'=',n*i)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [61]:
n,m,p,q,r,s,t,u = 2,3,4,5,6,7,8,9

for i in range(1,11):
    print(n*i,m*i,p*i,q*i,r*i,s*i,t*i,u*i)

2 3 4 5 6 7 8 9
4 6 8 10 12 14 16 18
6 9 12 15 18 21 24 27
8 12 16 20 24 28 32 36
10 15 20 25 30 35 40 45
12 18 24 30 36 42 48 54
14 21 28 35 42 49 56 63
16 24 32 40 48 56 64 72
18 27 36 45 54 63 72 81
20 30 40 50 60 70 80 90

In [115]:
tokens = ['<SWATI Dwivedi>','PIYUSH Pandey','<MOHAN Pandey>','</KAJAL Pandey>']
count = 0

for token in tokens:
    if token.startswith("<") and token.endswith(">"):
        count += 1


print(count )

3

In [121]:
# Dictionary
cast = {
           "Joey Tribbiani": "Joey Tribbiani",
           "Monica Geller": "Chandler Bing",
           "Phoebe Buffay": "Mike Hannigan",
           "Ross Geller": "Rachel Green"
       }
for i in cast:
    print(i)

Joey Tribbiani
Monica Geller
Phoebe Buffay
Ross Geller

In [122]:
for key, value in cast.items():
    print("Partner 1: {}    Partner 2: {}".format(key, value))

Partner 1: Joey Tribbiani    Partner 2: Joey Tribbiani
Partner 1: Monica Geller    Partner 2: Chandler Bing
Partner 1: Phoebe Buffay    Partner 2: Mike Hannigan
Partner 1: Ross Geller    Partner 2: Rachel Green

- For loops are an example of definite iteration, meaning that the loops body is run a predefined no of times.
- A for loop over a list executes the body for each element in the list, a for loop using the range function will execute a no of times specified by the range function.

### While Loop 
- Certain statement will be excuted repeatedly.
- This deffer from indefinite iteration ie. when a loop repeats an unknown no of times, and ends when some condition is met.
- While loop is an example of indefinite iteration. Here is an example:
- The condition is evaluated at the start of each loop iteration, and if it is true, the loop body is executed.
- The loop is terminated if the condition is false.

In [4]:
for i in "Radha":
    print(i.lower(),"?")

r ?
a ?
d ?
h ?
a ?

In [8]:
a= "Saraswati mata"
for i in a:
    print(i.upper())

S
A
R
A
S
W
A
T
I

M
A
T
A

In [62]:
i = 1
while i <=5:
    print(i)
    i +=1

1
2
3
4
5

In [42]:
name = [1,2,3,10,11,14,23,26,34,101]
i = 0
while i < len(name):
    print(i)
    i +=1

0
1
2
3
4
5
6
7
8
9

In [43]:
n = [1,2,3,10,11,14,23,26,34]
i = 0
while i < len(n):
    print(n)
    i +=1

[1, 2, 3, 10, 11, 14, 23, 26, 34]
[1, 2, 3, 10, 11, 14, 23, 26, 34]
[1, 2, 3, 10, 11, 14, 23, 26, 34]
[1, 2, 3, 10, 11, 14, 23, 26, 34]
[1, 2, 3, 10, 11, 14, 23, 26, 34]
[1, 2, 3, 10, 11, 14, 23, 26, 34]
[1, 2, 3, 10, 11, 14, 23, 26, 34]
[1, 2, 3, 10, 11, 14, 23, 26, 34]
[1, 2, 3, 10, 11, 14, 23, 26, 34]

In [132]:
i = 0
while i < 5:
    print("Hello")
    i += 1

Hello
Hello
Hello
Hello
Hello

### Else with while loop

In [158]:
i = 2
while i <= 10:
    print(i)
    i += 2
else:
    print("while loop done")

2
4
6
8
10
while loop done

In [138]:
i = 1
while i <= 9:
    print(i)
    i += 2

1
3
5
7
9

In [140]:
i = 0
while i < 3:
    print("Goodbye")
    i += 1

Goodbye
Goodbye
Goodbye

In [136]:
i = 10
while i >= 1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

In [124]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [125]:
i = 2 #Even Number
while i <= 20:
    print(i)
    i += 2

2
4
6
8
10
12
14
16
18
20

In [128]:
i = 1 #Odd Number
while i <= 20:
    print(i)
    i += 2

1
3
5
7
9
11
13
15
17
19

In [144]:
#Count from 5 to 15:


i = 10
while i <= 25:
    print(i)
    i += 1

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

In [145]:
# Print numbers from 20 to 10, decrementing by 2:

i = 20
while i >= 10:
    print(i)
    i -= 2

20
18
16
14
12
10

In [151]:
#Print "Hello World" 2 times:
i = 0
while i < 5:
    print("Hello World")
    i += 1

Hello World
Hello World
Hello World
Hello World
Hello World

In [156]:
# Print numbers from 1 to 10 or until a multiple of 3 is reached:


i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

 - The while loop heading always ends with a colon :.
 Indented after this heading is the body of the while loop. If the condition for the while loop is true, the code lines in the loop's body will be executed.
 We then go back to the while heading line, and the condition is evaluated again. This process of checking the condition and then executing the loop repeats until the condition becomes false.
 When the condition becomes false, we move on to the line following the body of the loop, which will be unindented.

The indented body of the loop should modify at least one variable in the test condition. If the value of the test condition never changes, the result is an infinite loop!

In [4]:
a = int(input('Enter the value: '))
print(a)
while a <=10:
    a = int(input("Enter Again: "))
    print(a)
    a +=1

8
8
8
8
8
8
8
87

In [165]:
i = 0
while i < 8:
    if i % 2 == 0:
        print("Big")
    else:
        print("Small")
    i += 1

Big
Small
Big
Small
Big
Small
Big
Small

### Do-While loop in python
- do..while is a loop in which a set of instructions will execute at least once (irrespective of the condition) and then the repetition of loop's body will depend on the condition passed at the end of the while loop. It is also known as an exit-controlled loop.

- *How to emulate do while loop in python?*
   - To create a do while loop in Python, you need to modify the while loop a bit in order to get similar behavior to a do while loop.

   - The most common technique to emulate a do-while loop in Python is to use an infinite while loop with a break statement wrapped in an if statement that checks a given condition and breaks the iteration if that condition becomes true:

In [166]:
while True:
  number = int(input("Enter a positive number: "))
  print(number)
  if not number > 0:
    break

6
7
8
8
9
9
7
6
6
5
-5

## **Break and Continue:**
#### break statement

For Loop iterate over every element in a sequence, while loops iterate over every element untill stopping condition is met.
In these cases we use the *break* keyword.

-  The break statement enables a program to skip over a part of the code.
-  A break statement terminates the very loop it lies within.

In [3]:
for i in range(10):
    if i == 5:
        break  # Exit the loop when i is 5
    print(i)

0
1
2
3
4

In [6]:
words = ["banana", "cherry", "apricot", "coconut", "kiwi", "avocado", "apple"]

for word in words:
    if word.startswith("A") or word.startswith("a"):
        print(word)
        break

apricot

In [79]:
for i in range(9):
    if i > 3:
     break
    print(i)

0
1
2
3

In [20]:
password = ""
while password != "secret":
    password = input("Enter the password: ")

print("Correct password!")

Correct password!

In [80]:
i = 1
while i < 9:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

In [1]:
x=5
while x>0:
    x-=1
    print(x)

4
3
2
1
0

In [200]:
i=0
while True:
    print(i)
    i += 1
    if(i%15 == 0):
        break
print("Nikal")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Nikal

In [185]:
for i in range (12):
    if(i==10):
        break
    print("5 x",i,"=",(5*i)+i)
print("Loop se nikal jao")

5 x 0 = 0
5 x 1 = 6
5 x 2 = 12
5 x 3 = 18
5 x 4 = 24
5 x 5 = 30
5 x 6 = 36
5 x 7 = 42
5 x 8 = 48
5 x 9 = 54
Loop se nikal jao

In [179]:
i = 1
while True:
  if(i==10):
   break
  print(i)
  i = i + 1

1
2
3
4
5
6
7
8
9

In [178]:
i = 1
while True:
  print(i)
  i = i + 1
  if(i%10 == 0):
   break

1
2
3
4
5
6
7
8
9

In [170]:

num = 12
i = 0
while i < 11:
    value = num*i
    print(num,"x",i,"=",value)
    i +=1

12 x 0 = 0
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [172]:
for i in range(1,101,1):
    print(i ,end=" ")
    if(i==10):
        break
    else:
        print("Mississippi")
print("Thank you")

1 Mississippi
2 Mississippi
3 Mississippi
4 Mississippi
5 Mississippi
6 Mississippi
7 Mississippi
8 Mississippi
9 Mississippi
10 Thank you

In [195]:
for i in range (15):
   
    if(i==10):
     break
    print("5 x",i,"=",(5*i)+i)
print("Loop se nikal jao")

5 x 0 = 0
5 x 1 = 6
5 x 2 = 12
5 x 3 = 18
5 x 4 = 24
5 x 5 = 30
5 x 6 = 36
5 x 7 = 42
5 x 8 = 48
5 x 9 = 54
Loop se nikal jao

> break and continue keywords, which can be used in both for and while loops.
- break terminates a loop
- continue skips one iteration of a loop

### Continue Statement
- The continue statement skips the rest of the loop statements and causes the next iteration to occur.

In [143]:
i = 1
while i <= 10:
 if(i%2!=0):
  i +=1
  continue
 print(i)
 i+=1

2
4
6
8
10

In [15]:
for i in range(3):
 if i == 1:
    continue
 print(i)

0
2

In [141]:
i = 1
while i <= 10:
 if(i%2==0):
  i +=1
  continue
 print(i)
 i+=1

1
3
5
7
9

In [142]:
i = 0  
while i < 9:
    i += 1 #i = i+1
    if i == 3:
     continue
print(i)

9

In [204]:
for i in range (12):
    if(i==10):
     print("Iteration ko chhod ke  nikal jao")
     continue
    print("5 x",i,"=",(5*i)+i)

5 x 0 = 0
5 x 1 = 6
5 x 2 = 12
5 x 3 = 18
5 x 4 = 24
5 x 5 = 30
5 x 6 = 36
5 x 7 = 42
5 x 8 = 48
5 x 9 = 54
Iteration ko chhod ke  nikal jao
5 x 11 = 66

### Pass
- The Pass statement is used as a placeholder for future code.
- when the pass statement excuted nothing happens but you avoid getting an error when empty code is not allowed.
- Empty code is not allowed in loops, function, definition class, or in if statement.

In [85]:
#using function
def myfunction():
    pass

In [86]:
#using class
class person:
    pass

In [88]:
a = 2
b = 4
if b>a:
 pass

In [92]:
n = int(input('Enter the Value:'))
#n = 3
print("The multiplication table of:",n)
for i in range(1,11):
        print(n,'x',i,'=',n*i)

The multiplication table of: 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [124]:
#n = 2
n = int(input('Enter the Value:'))
i=1
while i<11:
    val = n*i
    print(n,'x',i,'=',val)
    i +=1

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [125]:
n = int(input('Enter the Value:')) #n = 2
i = 1
while i <=10:
    print(n*i)
    i=i+1

8
16
24
32
40
48
56
64
72
80

In [127]:
n = 4
i = 2
while(n):
    r=n%10
    i=i*r
    n=n//10
    print(i)

8

In [140]:
# Factorial

n = int(input('Enter the Value:')) #n = 2
f = 1
for i in range (1,n+1):
    f = f*i
print(f)

120

In [1]:
numbers = [2, 4, 6, 8, 10]
total = 0
for num in numbers:
    total += num
print("The total is:", total)

The total is: 30

In [3]:
i = 2
while(i < 100):
 j = 2
 while(j <= (i/j)):
   if not(i%j): break
   j = j + 1
 if (j > i/j) :
  print (i, " is prime")
 i = i + 1
print ("Good bye!")

2  is prime
3  is prime
5  is prime
7  is prime
11  is prime
13  is prime
17  is prime
19  is prime
23  is prime
29  is prime
31  is prime
37  is prime
41  is prime
43  is prime
47  is prime
53  is prime
59  is prime
61  is prime
67  is prime
71  is prime
73  is prime
79  is prime
83  is prime
89  is prime
97  is prime
Good bye!

In [4]:
count = 1
while True:
  if count % 3 == 0 and count % 5 == 0:
      print("FizzBuzz")
      count = count + 1
      continue
  if count % 3 == 0:
      print("Fizz")
      count = count + 1
      continue
  if count % 5 == 0:
      print("Buzz")
      count = count + 1
      continue
  if count > 100:
      break
  print(count)
  count = count + 1

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz