### Set and dictionary
#### Set
- Set is a data type.
- mutable unordered collection of unique element.
- mutable means can be change.
- set has only unique element.
- cantains varius type of values.
- Separated by comma','.
- enclosed with curly bracket {}.
- use for quickly remove duplicates from a list.
   - Syntax: {} or set()
   - Ordered: No (No guarantee of order in Python versions before 3.7)
   - Mutable: Yes (Elements can be added or removed)
   - Duplicates: No (Does not allow duplicate elements)
   - Example: {1, 2, 3, 4}

In [109]:
a = ()
print(a)

()

In [111]:
a = {1,2,3,4,2,3,4}
print(a)
print(type(a))
print(a.clear())
print(a)

{1, 2, 3, 4}
<class 'set'>
None
set()

In [93]:
name ={ 'Ram', 'pandey','syam','ji'}
print(name)
print(type(name))

{'syam', 'ji', 'pandey', 'Ram'}
<class 'set'>

In [94]:
a ={} #dictionary
b = {1,2,3,4}
print(type(a))
print(type(b))

<class 'dict'>
<class 'set'>

In [95]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
union = set1.union(set2) # {1, 2, 3, 4, 5, 6}
print(union)
intersection = set1.intersection(set2)  # {3, 4}
print(intersection)
difference = set1.difference(set2)  # {1, 2}
print(difference)

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}

In [96]:
dataset1 = {"apple", "banana", "cherry"}
dataset2 = {"banana", "cherry", "date"}
# {'apple', 'banana', 'cherry', 'date'}
unique = dataset1.union(dataset2)
print(unique)
 # {'banana', 'cherry'}
overlap = dataset1.intersection(dataset2) 
print(overlap)

{'apple', 'cherry', 'date', 'banana'}
{'banana', 'cherry'}

In [97]:
a = { 1,'Ram',2,'Swati',3,'James',4,'Piyush'}
print(a)

{1, 2, 3, 4, 'Piyush', 'Swati', 'James', 'Ram'}

In [98]:
a.add(5)
a.add('Syama')
print(a)

{1, 2, 3, 4, 5, 'Syama', 'Piyush', 'Swati', 'James', 'Ram'}

In [99]:
setA = { 'Ram','Swati','Krishna','Kajal'}
setB = {1,2,3,4,5}
print(setA)
print(setB)

{'Swati', 'Krishna', 'Kajal', 'Ram'}
{1, 2, 3, 4, 5}

In [100]:
fal = {"apple", "banana", "orange", "grapefruit"}  # define a set

print("watermelon" in fal)  # check for element
print("")

fal.add("watermelon")  # add an element
print(fal)

print(fal.pop())  # remove a random element
print(fal)

False

{'apple', 'orange', 'watermelon', 'grapefruit', 'banana'}
apple
{'orange', 'watermelon', 'grapefruit', 'banana'}

In [27]:
a = {1,2,3,4,5}
b = {6,7,8,9,0}
c = {2,4,6,7}
print(a|b)
print(a.union(c)) 
print(a.union(b,c)) #Union

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [15]:
a = {1,2,3,4,5}
b = {2,7,3,9,5}
a & b # Intersection of A and B (Common items in both sets)

{2, 3, 5}

In [26]:
a = {1,2,3,4,5}
b = {2,7,3,9,5}
a.difference(b) #difference

{1, 4}

### Subset, Superset and Disjoint

In [44]:
a = {1,2,3,4,5,6,7,8,9,0}
b = {3,2,4,5,6,7}
c = {40,10,20}

In [45]:
b.issubset(a) # Set b is said to be the subset of set a if all elements of B are present in set a.

True

In [46]:
c.issubset(a) # Set c is said to be the subset of set a if all elements of c are present in set a.

False

In [47]:
a.issuperset(b)# Set a is said to be the superset of set b if all elements of b present in set a.

True

In [48]:
b.issuperset(c)

False

In [52]:
b.isdisjoint(c) # Two sets are said to be disjoint sets if they have no common element.

True

#### Dictionaries 

- Dictionaries are a collection of key/value pairs.
- unoerderd set of value pair of items.
- saprated by comma ','.
- enclosed in the curly braces{}, 
- A dictionary is a mutable data type.
- that stores mappings of unique keys to values or used to store data values in key:value pairs.
 - Syntax: {key: value}
 - Ordered: Yes (Maintains the insertion order starting from Python 3.7)
 - Mutable: Yes (Keys and values can be changed)
 - Duplicates: No (Keys must be unique, but values can be duplicated)
 - Example: {'a': 1, 'b': 2, 'c': 3}

In [101]:
elements = {
         "hydrogen": 1,
         "helium": 2,
         "carbon": 6}
print(elements)

{'hydrogen': 1, 'helium': 2, 'carbon': 6}

In [102]:
print(elements["helium"])  # print the value mapped to "helium"
elements["lithium"] = 3 # insert "lithium" with a value of 3 into the dictionary
print(elements)

2
{'hydrogen': 1, 'helium': 2, 'carbon': 6, 'lithium': 3}

In [55]:
info= {
    "Name": "Swati",
    "Sirname": "Dwivedi",
    "age": 22,
    "Is_adult": True,
    "Marks": 75 }
print(info)

{'Name': 'Swati', 'Sirname': 'Dwivedi', 'age': 22, 'Is_adult': True, 'Marks': 75}

In [67]:
info["Name"] = "Ram"
info["Sirname"]="Pandey" # overwrite

print(info)

{'Name': 'Ram', 'Sirname': 'Pandey', 'age': 22, 'Is_adult': True, 'Marks': 75}

In [68]:
a = {} #null dictionary
a["name"]= "radha"
print(a)

{'name': 'radha'}

In [69]:
#Nasted dictionary

info ={
       'name': 'Rammani',
       'class': 'Btech',
       'subject':{
           "C": 97,
           "C++": 89,
           "Python":90,
           "DSA":85
       },
       "age": 20,
       "Mob_no": 9340576217
}
print(info)

{'name': 'Rammani', 'class': 'Btech', 'subject': {'C': 97, 'C++': 89, 'Python': 90, 'DSA': 85}, 'age': 20, 'Mob_no': 9340576217}

In [75]:
print(info["subject"])

{'C': 97, 'C++': 89, 'Python': 90, 'DSA': 85}

In [74]:
print(info["subject"]['C'])

97

In [79]:
print(info.keys())

dict_keys(['name', 'class', 'subject', 'age', 'Mob_no'])

In [80]:
print(info.values())

dict_values(['Rammani', 'Btech', {'C': 97, 'C++': 89, 'Python': 90, 'DSA': 85}, 20, 9340576217])

In [81]:
print(info.items())

dict_items([('name', 'Rammani'), ('class', 'Btech'), ('subject', {'C': 97, 'C++': 89, 'Python': 90, 'DSA': 85}), ('age', 20), ('Mob_no', 9340576217)])

In [105]:
#print(info("Syam"))
print(info.get("Syam",'There\'s no such Name!')) # Not exist

There's no such Name!

#### Keyword Operators

* ***is:***	evaluates if both sides have the same identity
* ***is not***	evaluates if both sides have different identities

In [113]:
n = info.get("Rammani")
print(n is None)
print(n is not None)

True
False

In [114]:
contact = {"Satna":9340576217, "Rewa":9630215705, "Dhaka":9630595705, "Mumbai":7581957732}
print(contact)
print(contact is None)
print(contact is not None)

{'Satna': 9340576217, 'Rewa': 9630215705, 'Dhaka': 9630595705, 'Mumbai': 7581957732}
False
True

In [117]:

dict = {
    "Walmart": 1,
    "Exxon Mobil" : 2,
    "Berkshire Hathaway" : 3,
    "Apple" : 4,
    "UnitedHealth Group" : 5,
    "McKesson" : 5,
    "CVS Health" : 5,
    "Amazon.com" : 6,
    "AT&T" : 6,
    "General Motors" : 7
    }

print(dict is None)
print(dict is not None)
print(dict)

False
True
{'Walmart': 1, 'Exxon Mobil': 2, 'Berkshire Hathaway': 3, 'Apple': 4, 'UnitedHealth Group': 5, 'McKesson': 5, 'CVS Health': 5, 'Amazon.com': 6, 'AT&T': 6, 'General Motors': 7}

In [125]:
marks = {}

x= int(input(" Enter Math : "))
marks.update({"Math": x})

x= int(input(" Enter phy : "))
marks.update({"phy": x})

x= int(input(" Enter eng : "))
marks.update({"eng": x})

x= int(input(" Enter hindi : "))
marks.update({"hindi": x})

print(marks)

{'Math': 6, 'phy': 7, 'eng': 8, 'hindi': 9}

In [126]:
value = (9 , "9.02")
print(value)

(9, '9.02')

In [132]:
value = {
    ("float", 9.0),
    ("int", 5)
}
print(value)

{('int', 5), ('float', 9.0)}